{{define "request_password_recovery_html"}}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Recover Password</title>
<meta name="robots" content="noindex,nofollow" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<table style="border: 1px solid black;">
  <tr>
    <td style="padding: 4px;background-color:grey">Password Recovery Token</td>
    <td style="padding: 4px;background-color: darkgrey;">{{.Token}}</td>
  </tr>
  <tr>
    <td style="padding: 4px;" colspan="2">
      <a href="{{.ResetPasswordLink}}">{{.ResetPasswordLink}}</a>
    </td>
  </tr>
</table>
{{end}}